<a ui-sref="movies({id: model._id})">
  <img ng-src="{{model.images.w380}}">
</a>
<div class="bottom-container">
  <div class="meta">
    <div class="info">
      <span class="name">{{model.name}}</span>
      <span class="release">{{model.theatrical_release_date | date:'yyyy-MM-dd'}}</span>
    </div>
  </div>
  <button ng-show="isLoggedIn() && !model.following" ng-click="follow(this)" class="btn-follow">Follow</button>
  <button ng-show="isLoggedIn() && model.following" ng-click="unfollow(this)" class="btn-follow following">Unfollow</button>
</div>
