<navbar />

<div class="container movie-cover">
  <div back-img="{{model.images.w380}}" err-src="assets/images/placeholder.png" class="sm-image"></div>
  <div back-img="{{model.images.w600}}" err-src="assets/images/placeholder.png" class="md-image"></div>
  <div back-img="{{model.images.w920}}" err-src="assets/images/placeholder.png" class="lg-image"></div>

  <div class="meta">
    <div class="content">
      <h1 class="title">{{model.name}}</h1>

      <div class="release">
        In theaters <time datetime="{{model.theatrical_release_date | date:'yyyy-MM-dd'}}">
          {{model.theatrical_release_date | ordinalDate}}
        </time>
      </div>
    </div>
  </div>
</div>

<div class="container movie">
  <div class="wrapper">
    <div class="content-wrapper">
      <div class="btn-follow-container">
        <header ng-show="isLoggedIn()">
          <button ng-show="!model.following" ng-click="followMovie()" class="btn-follow">Follow this movie</button>
          <button ng-show="model.following" ng-click="unfollowMovie()" class="btn-follow">Unfollow this movie</button>
        </header>
        <div class="info">
          <strong>{{model.followingCount}}</strong>
          <span>Fans are following this movie</span>
        </div>
      </div>

      <div class="content">
        <h2 class="title">{{model.pitch | htmlToPlainText}}</h2>

        <div ng-bind-html=model.description class="description"></div>

        <div class="directors">
          <strong>Directed by</strong>
          <span>{{model.directors | join}}</span>
        </div>

        <div class="actors">
          <strong>Starring</strong>
          <span>{{model.actors | limitTo: 10 | join}}</span>
        </div>
      </div>
    </div>

    <aside class="sidebar">
      <div class="btn-follow-container">
        <header ng-show="isLoggedIn()">
          <button ng-show="!model.following" ng-click="followMovie()" class="btn-follow">Follow this movie</button>
          <button ng-show="model.following" ng-click="unfollowMovie()" class="btn-follow">Unfollow this movie</button>
        </header>
        <div class="info">
          <strong>{{model.followingCount}}</strong>
          <span>Fans are following this movie</span>
        </div>
      </div>

      <section class="cast-and-crew">
        <h4>Cast & Crew</h4>

        <div class="directors">
          <strong>Director</strong>
          <ul>
            <li ng-repeat="director in model.directors">
              <strong>{{director}}</strong>
            </li>
          </ul>
        </div>

        <div class="actors">
          <strong>Actors</strong>
          <ul>
            <li ng-repeat="actor in model.actors | limitTo: 10">
              <strong>{{actor}}</strong>
            </li>
          </ul>
        </div>
      </section>
    </aside>
  </div>
</div>
