.filters-container {
  &.mobile {
    overflow: hidden;
    border: 1px solid @btn-primary-border;
    border-radius: 4px;
    background-color: @btn-primary-bg;
    color: @btn-primary-color;

    @media (min-width: @screen-lg-min) {
      display: none;
    }

    .btn-group {
      .btn-group {
        .btn {
          position: relative;
          height: 50px;
          font-size: 18px;
          font-weight: 700;
          border-radius: 0;
          border: none;

          a {
            color: @btn-primary-color;
            text-decoration: none;
          }
        }
      }

      :nth-child(2) {
        .btn {
          border-left: 1px solid @btn-primary-border;
          border-right: 1px solid @btn-primary-border;
        }
      }
    }

    .navbar-collapse {
      &:extend(.navbar-collapse all);
      border-top: none;

      ul {
        .row();
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;
        text-align: center;

        li {
          .make-sm-column(6);
          font-size: 18px;
          line-height: 50px;

          a {
            display: block;
            height: 100%;
            color: #fff;
            text-decoration: none;

            &:hover {
              background-color: darken(@btn-primary-bg, 10%);
              border-color: darken(@btn-primary-border, 12%);
            }
          }
        }
      }
    }
  }

  &.desktop {
    display: none;
    border: 1px solid #cccccc;
    border-radius: 4px;

    @media (min-width: @screen-lg-min) {
      display: block;
    }

    .filter {
      &:extend(.btn-group all);

      .filter-type {
        &:extend(.btn all, .btn-default all);

        padding: 10px;
        border: none;
        border-left: 1px solid #cccccc;
        border-radius: 0;
        text-align: left;
        font-weight: bold;

        &:hover,
        &:focus {
          background: #fff;
        }
        &:active:focus,
        &:focus {
          outline: none;
        }

        a {
          color: @btn-default-color;
          text-decoration: none;
        }
      }

      &:first-child {
        .filter-type {
          .border-left-radius(4px);
          border: none;
        }
      }

      .dropdown-menu {
        margin-top: 12px;
        padding-top: 6px;

        &:before {
          content: '';
          position: absolute;
          display: block;
          left: 26px;
          top: -7px;
          width: 15px;
          height: 15px;
          background-color: #fff;
          box-shadow: -1px -1px 0 0 rgba(0, 0, 0, 0.2);
          transform: rotate(45deg);
        }

        .filter-value {
          margin: 5px;
          padding: 0 10px;
          line-height: 35px;
          border-radius: 5px;

          &:hover {
            color: #fff;
            background-color: @btn-primary-bg;
          }
        }
      }
    }
  }
}

.movies-container {
  .row;
  margin-top: 20px;

  .movies {
    .nav;
    .nav-tabs;
    .nav-stacked;
    border-bottom: 0;

    .movie-container {
      .make-xs-column(12);
      .make-sm-column(6);
      .make-md-column(4);

      margin-top: 0px;
      margin-bottom: @grid-gutter-width;
    }
  }

  .show-more-container {
    padding: 20px 0;
    text-align: center;

    .show-more {
      &:extend(.btn, .btn-default);
      background: #de4638;
      border: 1px solid #d73324;
      color: #fff;
      width: 200px;
      height: 50px;
      margin: 0 auto 40px auto;
      font-size: 20px;
      font-weight: 700;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
      box-shadow: 0 2px 0 #9f3328;

      &:focus {
        outline: none;
      }
    }
  }
}
