.movie-cover {
  position: relative;
  overflow: hidden;
  height: 400px;
  border-radius: 3px;

  @media (min-width: @screen-lg-min) {
    padding: 0;
    max-width: 100%;
    border-radius: 0;
    margin-top: -20px;
  }

  .cover-image {
    display: block;
    min-width: 100%;
    min-height: 100%;
    background-position: center;
    background-size: cover;
  }

  .sm-image {
    &:extend(.movie-cover .cover-image);

    @media (min-width: @screen-sm-min) {
      display: none;
    }
  }

  .md-image {
    &:extend(.movie-cover .cover-image);

    @media (max-width: @screen-sm-max) {
      display: none;
    }

    @media (min-width: @screen-lg-min) {
      display: none;
    }
  }

  .lg-image {
    &:extend(.movie-cover .cover-image);

    @media (max-width: @screen-md-max) {
      display: none;
    }
  }

  .meta {
    position: absolute;
    overflow: hidden;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 0;

    .content {
      color: #fff;
      text-align: center;

      .title {
        display: inline-block;
        position: relative;
        margin: 0;
        padding: 0;
        font-size: 32px;
        color: #fff;
        line-height: 36px;
        text-shadow: 0 1px 0 #000,0 1px 1px #000,0 1px 1px #000;
      }

      .release {
        margin-top: 5px;
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #d7d3d4;
        text-shadow: 0 1px 0 #000,0 1px 1px #000,0 1px 1px #000;
      }
    }
  }
}

.movie {
  .wrapper {
    .row;

    .content-wrapper {
      .make-md-column(8);

      .btn-follow-container {
        margin: 10px 0;

        header {
          margin: -1px -1px 0 -1px;
        }

        @media (min-width: @screen-md-min) {
          display: none;
        }
      }

      .content {
        margin-top: 15px;

        @media (min-width: @screen-sm-min) {
          padding: 0 40px;
        }

        @media (min-width: @screen-md-min) {
          margin-top: 30px;
        }

        .title {
          margin: 0;
          font-size: 24px;
          font-weight: bold;
          color: #000;
        }

        .description {
          margin-top: 5px;

          p {
            margin: 1em 0;
            line-height: 1.6em;
          }
        }
      }

      .actors,
      .directors {
        margin-top: 5px;
        color: #a5a5a5;
        line-height: 1.6em;

        @media (min-width: @screen-md-min) {
          display: none;
        }
      }
    }

    .sidebar {
      .make-md-column(4);
      display: none;

      @media (min-width: @screen-md-min) {
        display: initial;
      }

      .btn-follow-container {
        margin-top: 30px;

        header {
          padding: 10px;
          border-bottom: 1px solid #e0e0e0;

          .btn-follow {
            border-radius: 4px;
            border: 1px solid #386a95;
            box-shadow: 0 1px 0 #315d83;
          }
        }
      }

      .cast-and-crew {
        margin: 30px 0 0 35px;

        h4 {
          margin: 0 0 0 -35px;
          padding: 20px 40px;
          position: relative;
          background: #c33825;
          font-weight: 700;
          font-size: 20px;
          line-height: 20px;
          color: #fff;
        }

        h4:after {
          content: '';
          position: absolute;
          left: 0;
          top: 100%;
          border: 10px solid #882719;
          border-left-color: transparent;
          border-bottom-color: transparent;
        }

        strong {
          font-size: 16px;
          color: #666;
        }

        ul {
          list-style-type: none;
          padding-left: 20px;

          strong {
            font-weight: normal;
            color: #333;
          }
        }

        .directors {
          margin-top: 30px;
        }
      }
    }
  }

  .btn-follow-container {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 1px 0 #cacaca;

    header {
      .btn-follow {
        &:extend(.btn all, .btn-primary all);

        display: block;
        height: 50px;
        width: 100%;
        font-size: 14px;
        font-weight: 700;
        .border-bottom-radius(0);
      }
    }

    .info {
      padding: 10px;
      text-align: center;
      color: #4a4a4a;

      strong {
        display: block;
        font-size: 86px;
        line-height: 86px;
      }

      span {
        display: inline-block;
        margin-top: 10px;
      }
    }
  }
}
