<section class="filters-container mobile">
  <div class="btn-group btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-primary">
        <a href="/"><strong>All</strong><span> movies</span></a>
      </button>
    </div>

    <div ng-repeat="filter in filters" class="btn-group">
      <button ng-click="filterClick(filter.collapseKey)"
              ng-bind-html="filter | formatHeader : selectedFilter"
              type="button" class="btn btn-primary">
      </button>
    </div>
  </div>

  <div ng-repeat="filter in filters" collapse="!{{filter.collapseKey}}" class="navbar-collapse collapse">
    <ul>
      <li ng-repeat="item in filter.value">
        <a ng-href="/?{{filter.key}}={{item}}">
          {{item | formatValue: filter : $last}}
        </a>
      </li>
    </ul>
  </div>
</section>
