<section class="filters-container mobile">
  <div class="btn-group btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-primary">
        <a href="/">All movies</a>
      </button>
    </div>

    <div ng-repeat="filter in filters" class="btn-group">
      <button ng-click="filterClick(filter.collapseKey)"
              type="button" class="btn btn-primary">
        {{selectedFilter && selectedFilter.key === filter.key ? selectedFilter.value : filter.title}}
      </button>
    </div>
  </div>

  <div ng-repeat="filter in filters" collapse="!{{filter.collapseKey}}" class="navbar-collapse collapse">
    <ul>
      <li ng-repeat="item in filter.value">
        <a ng-href="/?{{filter.key}}={{item}}">
          {{filter.key === 'year' && $last ? item + ' and later' : item}}
        </a>
      </li>
    </ul>
  </div>
</section>
